* {
  max-width: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
span{
  font-size: 48px;
}
.list_info > li > span{
  font-size: 18px;

}
h1{
  font-size: 54px;
  font-style: italic;
}
h2{
  font-size: 38px;
}
h3{
  font-size: 18px;
}
p{
  font-size: 16px;
}


.content {
  display: grid;
  grid-template-columns: 20% 80%;
}

@media screen and (max-width: 600px) {
  .content {
    grid-template-columns: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #222222;
  height: 100%;
}

.avatar {
  width: 100%;
  height: auto;
}
.infos {
  padding: 20px;
}
.list_info {
  color: #fff;
}
.list_info li {
  margin: 10px 0;
}
.logos {
  display: flex;
  margin: 10px 0;
}

.logos img {
  margin-right: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.list_details {
  height: 100%;
  padding: 20px;
  background: #54545a;
}

.list_details h2 {
  display: inline-block;
}

.list_details details,
.details_content {
  margin: 10px 0;
}

.item_skills{
  display: flex;
}

.item_skills img{
  margin: 35px;
}

@media print {
  .sidebar {
    background: red;
  }
  .avatar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .content {
    grid-template-columns: 100%;
  }
}
