.content{
    display: grid;
    grid-template-areas:
        "avatar intro"
        "info details"
        "info projects"
        "info skilss";
}
.avatar{
    grid-area: avatar;
}
.info{
    grid-area: info;
}
.logo{
    display: flex;
}
.intro{
    grid-area: intro;
}
.details{
    grid-area: details;
}
.projets{
    grid-area: projects;
}
.skills{
    grid-area: skilss;
}
.item--skills{
    display: flex;
}
.sidebar{
    background: #222222;
}